$darkGrey: #111111;

body {
    background-color: $darkGrey;
    margin: 0;
}

header {
    height: 700px;
    position: relative;

    .header-bg,
    .header-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .header-bg {
        background-image: url(https://wallpapercave.com/wp/wp4275031.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
    }

    .header-gradient {
        background-image: linear-gradient(0deg, $darkGrey, rgba($darkGrey, 0))
    }
}

.header-container {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
}

.logo {
    flex-basis: 50%;

    img {
        width: 120px;
        height: 60px;
        background-color: #f54343;
    }
}

.top-nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    transition: all 1s ease;
    transform: scale(1);
}

.top-nav a:hover {
    background-color: rgba(255, 0, 0, 0.3);
    transform: scale(1.1);
}

.controls button {
    width: 32px;
    height: 32px;
    border: none;
    background-color: white;
    border-radius: 50%;
    margin: 10px 30px;
}

.controls button:last-child {
    margin-right: 0;
}

.hero {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .top-nav {
        display: none;
    }

    .controls {
        display: none;
    }

    .logo img {
        background-color: cyan;
    }
}

@import './movies';
@import './single-movie';
